.md-list {
	min-width: 20rem;
	width: 20rem;
	max-width: 20rem;
	display: inline-block;
	vertical-align: top;
}

.md-progress-bar {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

.md-overlay.md-fixed, body > .md-overlay {
	z-index: 1100;
}

.md-dialog.md-theme-default {
	z-index: 1101;
}
