@import '~vue-material/dist/theme/engine';
@import '~vue-material/dist/theme/all';

body {
	font-family: Helvetica, sans-serif;
}

.area-list-view {
	position: absolute;
	min-width: 20rem;
	width: 20rem;
	max-width: 20rem;
	height: calc(100vh - 3.5rem);
	background-color: rgb(66, 66, 66);
	border: 0.0625rem solid rgba(#000, 0.12);
	z-index: 1001;
}

.wireless-socket-list-view {
	position: absolute;
	min-width: 20rem;
	width: 20rem;
	max-width: 20rem;
	height: calc(100vh - 3.5rem);
	background-color: rgb(66, 66, 66);
	border: 0.0625rem solid rgba(#000, 0.12);
	margin-left: 20.5rem;
}

.detail-view {
	position: absolute;
	height: calc(100vh - 3.5rem);
	width: calc(100vw - 42.5rem);
	background-color: rgb(66, 66, 66);
	left: 20.5rem;
	top: 0;
	margin-left: 20.5rem;
}

.periodic-task-list-view {
	position: absolute;
	min-width: 20rem;
	width: 20rem;
	max-width: 20rem;
	height: calc(100vh - 3.5rem);
	background-color: rgb(66, 66, 66);
	border: 0.0625rem solid rgba(#000, 0.12);
	/* TODO 
	margin-left: 20.5rem;
	*/
}

.selected {
	background-color: dimgrey;
	cursor: default;
}

.selectable {
	cursor: pointer;
}

.add-button {
	position: absolute !important;
	left: 14.5rem;
	bottom: 1rem;
}

.save-button {
	cursor: pointer;
	right: 0rem;
}

.delete-button {
	cursor: pointer;
}
